body {
    background-color: #171a24;
    margin: 0px;
  }
  
  .register {
    color:#F1C944;
    padding: 1rem;
    font-family: Monda, Arial;
  }
  
  .register h1 {
    font-size: 3rem;
    font-family: Monda, Arial;
    line-height: 0.75rem;
  }
  
  hr {
    border: 1px solid #F1C944;
    margin-bottom: 1.5rem;
  }
  
  input[type=text], input[type=password]  {
    width: 97%;
    padding: 1rem;
    margin: 0.5rem 0 0.5rem 0;
    display: inline-block;
    border: none;
    background: rgb(33, 38, 54);
    color: #e2dce3;
    font-family: Monda, Arial;
  }
  
  .emailbox {
    width: 97%;
    display: flex;
  }
  
  .emailbox p {
    margin-left: 1rem;
  }
  
  #cancelbtn, #registerbtn {
    color:#F1C944;
    padding: 1rem;
    margin: 0.5rem;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    font-family: Monda, Arial;
    border: 2px solid#F1C944;
    border-radius: 10px;
    background-color: #171a24;
    text-align: center;
    text-decoration: none;
  }
  
  #cancelbtn:hover, #registerbtn:hover {
    background-color: #F1C944;
    color: #171a24;
  }
  
  .submission {
    display: flex;
  }
  
  .register p {
    font-size: 0.75rem;
  }
  
  #termsandpriv, #loginLink {
    color: #F1C944;
  }
  
  #termsandpriv:hover, #loginLink:hover {
    color: #c23de0;
  }
  
  