.signIn {
  background-color: rgb(33, 38, 54);
  color: #F1C944;
  font-family: Monda, Arial;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border: none;
  border-radius: 10px;
  min-width: 5rem;
}
  
.signIn:hover {
  background-color: rgb(61, 71, 102);
  color: #F1C944;
}