.consultsList {
    overflow: scroll;
}

.consults-table th, .consults-table td {
    padding: 0.5rem;
}

.consults-table {
    width: 100%;
}

.consults-table th {
    border-bottom: 1px solid #e8007c;
}

 .status {
   color: #F1C944;
 }

 .consults-table button {
    margin: 1rem;
    color: #e2dce3;
    font-family: Monda, Arial;
    background-color:rgb(33, 38, 54);
    outline: none;
    border: 0.5px solid #aaa2ab;
    border-radius: 3px;
    padding: 0.5rem 1.5rem;
    justify-content: center;
 }

 .consults-table button:hover {
   background-color: #F1C944;
   color: #171a24;
 }

.consultsList::-webkit-scrollbar {
  display: none;
}