.module {
  color: #e2dce3;
  font-family: Monda, Arial;
  margin: 1.5rem;
}

.details p{
  display: inline-block;
  width: 33%;
  text-align: center;
}

.module h1 {
  color: #F1C944;
}

.details {
  display: flex;
}
