.AllModules {
    display: block;
}

.AllModules h1 {
    color: #F1C944;
    text-align: left;
    font-family: Monda, Arial;
    font-size: 2rem;
}

.AllModules ul {
  list-style: none;
  padding-left: 0;
  
}

.AllModules li {
  padding: 10px;
  border-bottom: 2px solid #171a24;
  font-family: Monda, Arial;
  text-align: left;

}

.AllModules li:hover {
    background-color: rgb(61, 71, 102);
    color: #F1C944;
    font-family: Monda, Arial;
}
