.custom-ui {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 1;
    width: 80%;
    height: 70%;
    /* width: 500px;
    height: 400px; */
    max-width: 500px;
    max-height: 400px;
    left: 50%;
    top: 45%; 
    /* left: 10%;
    top: 10%; */
    margin-left: -150px;
    margin-top: -150px;
    overflow: auto;
    background-color: rgb(33, 38, 54);
    padding: 10px;
    border: 1px solid #e2dce3;
    border-radius: 10px;
}

.custom-ui h1{
    color: yellow;
}

.custom-ui button {
    color:#e2dce3;
    padding: 1rem;
    margin: 0.5rem;
    cursor: pointer;
    width: 30%;
    font-size: 1rem;
    font-family: Monda, Arial;
    border: 2px solid#F1C944;
    border-radius: 10px;
    background-color: #171a24;
    text-align: center;
    text-decoration: none;
}

.custom-ui button:hover {
    background-color: #F1C944;
    color: #171a24;
}