.sharedTimetables h2 {
    color: #F1C944;
    font-size: 2rem;
}

.sharedList {
    width: 100%;
}

.sharedList td {
    padding: 0;
    text-align: left;
}

.sharedList th {
    color: #e2dce3;
    text-align: left;
    border-bottom: 1px solid #e8007c;
}

.evenRow {
    background-color: rgb(33, 38, 54);
}

.evenRow:hover, .oddRow:hover {
    cursor: pointer;
    color: #F1C944;
    background-color: rgb(61, 71, 102);
}

a {
    text-decoration: none;
    text-align: left;
}

.oddRow a:hover {
    color: #F1C944;
    background-color: rgb(61, 71, 102);
}

.evenRow a:hover {
    color: #F1C944;
    background-color: rgb(61, 71, 102);
}

::-webkit-scrollbar {
    display: none;
 }
