.sharedTimetables h2 {
    color: #F1C944;
    font-size: 2rem;
}

.sharedList {
    width: 100%;
}

.sharedList td {
    padding: 0;
    text-align: left;
}

.shared-td {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.shared-td a {
    flex-grow: 1;
}

.sharedList th {
    color: #e2dce3;
    text-align: left;
    border-bottom: 1px solid #e8007c;
}

.evenRow {
    background-color: rgb(33, 38, 54);
}

.evenRow:hover, .oddRow:hover {
    cursor: pointer;
    color: #F1C944;
    background-color: rgb(61, 71, 102);
}

a {
    text-decoration: none;
    text-align: left;
}

.oddRow a:hover {
    color: #F1C944;
    background-color: rgb(61, 71, 102);
}

.evenRow a:hover {
    color: #F1C944;
    background-color: rgb(61, 71, 102);
}

::-webkit-scrollbar {
    display: none;
 }


button {
    float: right;
    color: white;
    font-family: Monda, Arial;
    background-color:rgb(33, 38, 54);
    outline: none;
    border: 0.5px solid #aaa2ab;
    border-radius: 3px;
    text-decoration: none;
    padding: 0 1rem;
    margin: 0.5rem 0rem;
}
  
button:hover {
    background-color: #F1C944;
    color: #171a24;
    cursor: pointer;
}

