/*Colors:
yellow: #F1C944
white-ish: #e2dce3
background color: #171a24
tab color:  #212636 / rgb(33, 38, 54)
pink: #e8007c
button grey border: #aaa2ab*/
body {
  background-color: #171a24;
}

.app {
  display: flex;
  color: #e2dce3;
  font-family: Monda, Arial;
  height: 100%;
  overflow-x: auto;
}

.content {
  margin: 0 1rem;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212636 ;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #403b46;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4d4755;
}

::-webkit-scrollbar-corner {
  background: #212636 ;
}

::-webkit-scrollbar-track-piece {
  background: #212636 ;
}

/* .table::-webkit-scrollbar {
  display: none;
} */

@media (max-width: 800px) {
  .app {
    display: block;
  }

  .content {
    margin: 0 1rem;
    width: auto;
  }
} 