.navMenuButton {
  display: none;
}

.navBar {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  min-width: 11rem;
  width: 20%;
}

li {
  margin-left: 0;
  margin-top: 0;
  background-color: rgb(33, 38, 54);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #e2dce3;
  display: flex;
  padding: 0.5rem;
  align-items: center;
}

a:hover {
  background-color: rgb(61, 71, 102);
  align-items: center;
}

a:focus {
  background-color: #171a24;
  color: #F1C944;
}

i {
  margin-right: 7px;
  margin-left: 0.5rem;
}

@media (max-width: 800px) {
  .navBar {
    display: none;
  }
}
