/*Your timetable tab*/
.yourTimetable {
    display:flex;
}
#yourTimetable-a {
    background-color: #171a24;
    color: #F1C944;
}

#yourTimetable-a:hover {
    background-color:  #171a24;
}

.date-panel {
    display: flex;
    justify-content: center;
}

#forward-arrow, #back-arrow {
    margin: 1.4rem;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

/*Your timetable page*/
.yourTimetable h3 {
    font-family: Monda, Arial;
    color: #e2dce3;
    margin: 0.1rem;
    display: flex;
    justify-content: center;
    margin-top: 1.3rem;
}


::-webkit-scrollbar {
   display: none;
}

#share, #createEventbtn {
    float: right;
    margin: 1rem;
    color: white;
    font-family: Monda, Arial;
    background-color:rgb(33, 38, 54);
    outline: none;
    border: 0.5px solid #aaa2ab;
    border-radius: 3px;
    text-decoration: none;
    padding: 0 1rem;
}

#share:hover, #createEventbtn:hover {
    background-color: #F1C944;
    color: #171a24;
}

#addModule {
    padding: 1rem;
    width: 100%;
    height: 2rem;
    background-color:rgb(33, 38, 54);
    outline: none;
    border: none;
    color: white;
    font-family: Monda, Arial;
}

#addModule::placeholder {
    color: #e2dce3
}

.yourTimetable hr {
    margin-top: 1rem;
}

#yourModules {
    color: #e2dce3;
    text-align: left;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.yourTimetable p {
    color: #e2dce3;
    text-align: center;
}

#totalMCs {
    font-size: 0.75rem;
    text-align: left;
}

.table {
    margin-left: 1rem;
}

#line {
    margin-left: 1rem;
    margin-right: 1rem;
}
