.yourTimetable {
    display: block;
}

.yourTimetable hr {
    margin-top: 1rem;
}

#yourModules {
    text-align: left;
    font-size: 1.5rem;
}

.date-panel {
    display: flex;
    justify-content: center;
}

#forward-arrow, #back-arrow {
    margin: 1.4rem;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.date-panel h3 {
    font-family: Monda, Arial;
    color: #F1C944;
    margin: 0.1rem;
    display: flex;
    justify-content: center;
    margin-top: 1.3rem;
}

::-webkit-scrollbar {
   display: none;
}

#share, #createEventbtn {
    float: right;
    margin: 1rem;
    color: white;
    font-family: Monda, Arial;
    background-color:rgb(33, 38, 54);
    outline: none;
    border: 0.5px solid #aaa2ab;
    border-radius: 3px;
    text-decoration: none;
    padding: 0 1rem;
}

#share:hover, #createEventbtn:hover {
    background-color: #F1C944;
    color: #171a24;
}


