.yourTimetable {
    display: block;
}

.refresh-button {
    float: right;
    margin: 1rem;
    color: white;
    font-family: Monda, Arial;
    background-color:rgb(33, 38, 54);
    outline: none;
    border: 0.5px solid #aaa2ab;
    border-radius: 3px;
    text-decoration: none;
    padding: 0 1rem;
}
  
.refresh-button:hover {
    background-color: #F1C944;
    color: #171a24;
    cursor: pointer;
}

.share-button {
    display: block;
}

.buttons-div {
    display: flex;
    float: right;
}

.yourTimetable hr {
    margin-top: 1rem;
    width: 100%;
}

.your-modules-text {
    text-align: left;
    font-size: 1.5rem;
}

::-webkit-scrollbar {
   display: none;
}