.yourTimetable {
    display: block;
}

.refresh-button {
    float: right;
    margin: 1rem;
    color: white;
    font-family: Monda, Arial;
    background-color:rgb(33, 38, 54);
    outline: none;
    border: 0.5px solid #aaa2ab;
    border-radius: 3px;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
}

.refresh-button:hover {
    background-color: #F1C944;
    color: #171a24;
    cursor: pointer;
}

.share-button {
    display: block;
    padding: 0.8rem 1.5rem;
}


.buttons-div {
    display: flex;
    float: right;
}

.yourTimetable hr {
    margin-top: 1rem;
    width: 100%;
}

.your-modules-text {
    text-align: left;
    font-size: 1.5rem;
}

.Module-information {
    display: flex;
    padding: 0.5rem;
    box-sizing: border-box;
}

.Module-information button {
    float: right;
    margin: 0.5rem 0 0.5rem 0.5rem;
    color: white;
    font-family: Monda, Arial;
    background-color:rgb(33, 38, 54);
    outline: none;
    border: 0.5px solid #aaa2ab;
    border-radius: 3px;
    text-decoration: none;
    padding: 0 1rem;
}

.Module-information button:hover {
    background-color: #F1C944;
    color: #171a24;
    cursor: pointer;
}

.MyModules {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .header {
    display: flex;
  }
