.notifications {
    margin: 1rem;
    position: relative;
    /* display: inline-block; */
}

.notificationButton {
    background-color: rgb(33, 38, 54);
    color: #F1C944;
    font-family: Monda, Arial;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border: none;
    border-radius: 10px;
    margin-right: 1rem;
}

.notificationButton img {
    height: 30px;
    width: 30px;
}

.dropdownContent {
    position: fixed;
    top: 5rem;
    right: 0;
    background-color: rgb(33, 38, 54);
    min-width: 15rem;
    z-index: 100;
}

.notificationButton:hover {
    background-color: rgb(61, 71, 102);
    color: #F1C944;
}

.notification {
    color: #e2dce3;
    text-decoration: none;
    display: block;
    font-family: Monda, Arial;
    font-size: 1rem;
}

.timestamp {
    font-size: 0.75rem;
    padding: 0;
    margin: 0;
}

.notification a {
    margin: 0;
    display: block;
}

.notification:hover, .notification a:hover {
    background-color: rgb(61, 71, 102);
    color: #F1C944;
}

.notification-line {
    margin: 0;
}

.time-and-close-div {
    display: flex;
    justify-content: space-between;
}

.close-button {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background-color: inherit;
}

.close-button:hover {
    background-color: inherit;
    color: #F1C944;
}

/*Making notification button responsive*/
@media (max-width: 1000px) {
    .notificationButton p {
        display: none;
    }

    .notificationButton {
        border: none;
        background-color: rgb(33, 38, 54);
    }
}

#no-notif {
  padding: 0rem 1rem;
  text-align: center;
}
