/* .button {
    background-color: #171a24;
    color: #F1C944;
    border: 1px solid #F1C944;
    
}

.button:hover {
    background-color: #F1C944;
    color: #171a24;
} */

.button {
    height: 0px;
    width: 0px;
    background-color: #171a24;
}