body {
    background-color: #171a24;
    margin: 0;
}

* {box-sizing: border-box}

/*Top panel*/
.top-panel {
    display: flex;
    align-items: center;
    color: #F1C944;
    background-color: rgb(33, 38, 54);
    height: 5rem;
}

.logo  {
	font-family: Lemonada;
	font-size: 1.25rem;
    display: flex;
}

#logoImg {
	height: 70px;
	width: 70px;
	margin-left: 1rem;
}

.search {
    margin: 1rem;
    display: flex;
    flex-grow: 1;
    background-color: #171a24;
    border: 1px solid #171a24;
	border-radius: 3px;
}

#searchimg {
	height: 30px;
    width: 30px;
    padding: 3px;
}

#searchinput {
    font-family: Monda, Arial;
	background-color: #171a24;
	color: white;
	border: none;
	outline: none;
}

#searchinput::placeholder {
    color: #e2dce3;
}

#semesterdate {
    font-family: Monda, Arial;
	font-size: 1rem;
	margin-right: 1rem;
}
/*Navigation tabs*/
.tab {
    float: left;
    background-color: rgb(33, 38, 54);
    min-width: 11rem;
    width: 20%;
  }

.tablinks {
    display: block;
    background-color: inherit;
    color: #e2dce3;
    padding: 1.25rem 1rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: Monda, Arial;
    text-decoration: none;
  }

.tablinks div {
    display: flex;
}

.tablinks p {
    margin: auto 1rem;
}

.tablinks img {
	height: 30px;
	width: 30px;
}

.tablinks:hover {
    background-color: rgb(61, 71, 102);
}

.tablinks:focus {
    background-color: #171a24;
    color: #F1C944;
}

/*Making top panel and navigation tab responsive*/
@media (max-width: 600px) {
    .logo p, #semesterdate, .tablinks p {
        display: none;
    }

    .tab {
        width: auto;
        min-width: 2rem;
    }
}

#settings-a {
    background-color: #171a24;
    color: #F1C944;
}

#settings-a:hover {
    background-color:  #171a24;
}